<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSCAWFIT</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/relatorio/relatorio.css}">

  </head>

  <body>
    
      <!-- CABEÇALHO-->
      <header th:replace="cabecalho:: cabecalho"/>

      <div class="row linha-centro">
          <!-- MENU-->
          <nav class="col-3 border coluna-menu">
              <nav th:replace="menu:: menu"/>    
          </nav>

          <!--CONTEÚDO DA PÁGINA-->
          <main class="col-9 coluna-conteudo container-main overflow-auto" >

            <div class="container">
              <div class="row">
                <div class="col d-flex flex-row titulo-grade">
                  <h2 class="mt-3">Relatório</h2>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <form class="mt-4 mb-4" th:object="${relatorio}" action="/relatorio/filtro" method="get">
                    <table class="table border border-secondary border-opacity-25 rounded-4 mt-4 tabela">
                      <thead class="cabecalho-tabela">
                        <tr>
                          <th scope="col">Planos</th>
                          <th scope="col" class="text-center">Valor total por plano</th>
                          <th scope="col" class="text-center">Total de alunos por plano</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr class="primeira-linha">
                          <td>Mensal</td>
                          <td th:text="${valorPlanosTipoMensal}" class="text-center"></td>
                          <td th:text="${totalAlunosMensal}" class="text-center"></td>
                        </tr>
                        <tr class="segunda-linha">
                          <td>Trimestral</td>
                          <td th:text="${valorPlanosTipoTrimestral}" class="text-center"></td>
                          <td th:text="${totalAlunosTrimestral}" class="text-center"></td>
                        </tr>
                        <tr class="terceira-linha">
                          <td>Semestral</td>
                          <td th:text="${valorPlanosTipoSemestral}" class="text-center"></td>
                          <td th:text="${totalAlunosSemestral}" class="text-center"></td>
                        </tr>
                        <tr class="quarta-linha">
                          <td>Anual</td>
                          <td th:text="${valorPlanosTipo}" class="text-center"></td>
                          <td th:text="${totalAlunosAnual}" class="text-center"></td>
                        </tr>
                        <tr class="quinta-linha">
                          <td class="fw-bold">Valor total</td>
                          <td th:text="${valorTotalPlanos}" class="text-center"></td>
                          <td class="text-center">-</td>
                        </tr>

                        <tr class="linha-total">
                          <td class="fw-bold">Total</td>
                          <td th:text="${total_alunos}" class="text-center"></td>
                          <td th:text="${total_alunos}" class="text-center"></td>
                        </tr>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
              </div>
            </div>
          </main>
      </div>

        <!-- RODAPÉ-->
      <footer class="row linha-rodape">
          <div class="col rodape">
              <p>Todos os direitos reservados - 2022.</p>
          </div>
      </footer>

      
      <!-- JavaScript Bundle with Popper -->
      <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
      <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>