<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IElist=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSCAWFIT</title>
    <link rel="stylesheet" th:href="@{/csslist/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="slisttylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/cadastro-usuario.css}">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</head>

<body>
<!-- CABEÇALHO-->
<header th:replace="cabecalho:: cabecalho"/>
<!-- MENU-->
<div class="row linha-centro">
    <!-- MENU-->
    <nav class="col-3 border container-menu">
        <nav th:replace="menu:: menu"/>
    </nav>
<!--CONTEÚDO DA PÁGINA-->
    <main class="col-9 border ">
        <div class="col mb-4">
            <h1 class="header-titulo m-3">
                <i class="bi bi-person-plus"></i>
                Cadastrar
            </h1>
        </div>

        <!--FORMULÁRIO-->

        <!--Formulário-->

        <form class="row overflow-auto conteudo mx-2 formulario-usuario" th:object="${usuario}" action="/usuario/save" method="post">

            <div class="primeira-coluna">
                <!--NOME COMPLETO-->
                <div class="row">
                    <div class="col m-0 mt-0 ">
                        <label for="inputPassword6" class="col-form-label">Nome completo *</label>
                        <input type="text" id="nome" th:field="${usuario.nome}" class="form-control" required>
                    </div>
                    <div class="col-4 m-0 mt-0">
                        <label for="inputPassword6" class="col-form-label">RG </label>
                        <input type="text" id="rg" th:field="${usuario.rg}" class="form-control" >
                    </div>
                </div>

                <div class="row">
                    <!--CPF-->
                    <div class="col m-0">
                        <label for="inputPassword6" class="col-form-label">CPF *</label>
                        <input type="text" id="cpf" th:field="${usuario.cpf}" class="form-control" onblur='validaCPF()' required>
                        <div class="invalid-feedback">CPF inválido</div>
                    </div>
                    <div class="col-5 m-0">
                        <label for="inputPassword6" class="col-form-label">Senha *</label>
                        <input type="password" id="senha" minlength="6" th:field="${usuario.cpf}" class="form-control" required >
                    </div>
                </div>
            </div>

            <!--Imagem-->
<!--            <div class="col segunda-coluna border">-->
<!--                <label class="picture form-control" for="picture__input" tabindex="0">-->
<!--                    <input type="file" accept="image/*" id="picture__input" th:field="${usuario.imagemUsuario}">-->
<!--                    <span>-->
<!--                                <img class="picture__image"  alt="">Selecione uma imagem-->

<!--                            </span>-->
<!--                </label>-->
<!--                &lt;!&ndash; <div class="container-imagem">-->
<!--                    <img th:src="@{/img/}" alt="Selecione uma imagem" class="imagem-aluno" id="imgPhoto">-->
<!--                </div> &ndash;&gt;-->
<!--            </div>-->

            <div class="row">
                <div class="row">
                    <!--TELEFONE-->
                    <div class="col m-0 ">
                        <label for="inputPassword6" class="col-form-label">Telefone </label>
                        <input type="text" id="telefone" th:field="${usuario.telefone}" class="form-control" placeholder="(00) 00000-0000">
                        <div class="invalid-feedback">Telefone inválido</div>
                    </div>
                    <!--E-MAIL-->
                    <div class="col-7 m-2">
                        <label for="inputPassword6" class="col-form-label">E-mail </label>
                        <input type="email" id="email" th:field="${usuario.email}" class="form-control" >
                        <div class="invalid-feedback">E-mail inválido</div>
                    </div>
                </div>

                <div class="row">
                    <!--TIPO DE USUARIO-->
                <div class="col-5 m-0">
                    <label for="inputPassword6" class="col-form-label">Tipo de Usuário *</label>
                    <select class="form-select" th:field="${usuario.tipoUsuario}" aria-label="select example" onblur="validaCampo()">
                        <option th:each="tipoUsuario : ${T(com.syscawfit.syscawfit.model.TipoUsuario).values()}"
                                th:value="${tipoUsuario}"
                                th:text="${tipoUsuario.tipoUsuario}"/>
                    </select>
                    <div class="invalid-feedback">Selecione uma opção</div>
                </div>

                <!--TIPO DE FUNCIONARIO-->
                <div class="col-4 m-0">
                    <label for="inputPassword6" class="col-form-label">Tipo de Funcionário *</label>
                    <select class="form-select" th:field="${usuario.tipoFuncionario}" aria-label="select example" onblur="validaCampo()">
                        <option th:each="tipoFuncionario : ${T(com.syscawfit.syscawfit.model.TipoFuncionario).values()}"
                                th:value="${tipoFuncionario}"
                                th:text="${tipoFuncionario.tipoFuncionario}"/>
                    </select>
                    <div class="invalid-feedback">Selecione uma opção</div>
                </div>

                <!-- SITUACAO -->
                <div class="col-2 m-0">
                    <label for="inputPassword6" class="col-form-label">Situação *</label>
                    <br/>
                    <input type="checkbox" data-toggle="toggle" data-on="Enable" data-off="Disable" th:field="${usuario.situacao}">
                    <script>
                        $(function() {
                            $('#toggle-two').bootstrapToggle({
                                on: 'Ativo',
                                off: 'Inativo'
                            });
                        })
                    </script>
                </div>
            </div>
       </div>

            <h5 class="endereco-titulo mt-4">Endereço</h5>

            <div class="row">
                <!--CEP-->
                <div class="col-2 m-2">
                    <label for="inputPassword6" class="col-form-label">CEP *</label>
                    <input type="text" id="cep" th:field="${usuario.endereco.cep}" class="form-control">
                    <div class="invalid-feedback">CEP não encontrado</div>
                </div>
                <!--LOGRADOURO-->
                <div class="col mt-2">
                    <label for="inputPassword6" class="col-form-label">Logradouro *</label>
                    <input type="text" id="logradouro" th:field="${usuario.endereco.logradouro}" class="form-control" >
                    <div class="invalid-feedback">Logradouro não informado</div>
                </div>
                <!--Nº-->
                <div class="col-2 mt-2">
                    <label for="inputPassword6" class="col-form-label">Nº *</label>
                    <input type="text" id="numero" th:field="${usuario.endereco.numero}" class="form-control" >
                    <div class="invalid-feedback">Nº não informado</div>
                </div>
            </div>

            <div class="row">
                <!--BAIRRO-->
                <div class="col m-2">
                    <label for="inputPassword6" class="col-form-label">Bairro *</label>
                    <input type="text" id="bairro" th:field="${usuario.endereco.bairro}" class="form-control" >
                    <div class="invalid-feedback">Bairro não informado</div>
                </div>
                <!--CIDADE-->
                <div class="col mt-2">
                    <label for="inputPassword6" class="col-form-label">Cidade *</label>
                    <input type="text" id="localidade" th:field="${usuario.endereco.cidade}" class="form-control" >
                    <div class="invalid-feedback">Cidade não informada</div>
                </div>
                <!--ESTADO-->
                <div class="col-2 mt-2">
                    <label for="inputPassword6" class="col-form-label">UF *</label>
                    <input type="text" id="uf" th:field="${usuario.endereco.uf}" class="form-control" >
                    <div class="invalid-feedback">UF não informada</div>
                </div>
            </div>

            <div class="row">
                <!--PAÍS-->
                <div class="col-3 m-2">
                    <label for="inputPassword6" class="col-form-label">País *</label>
                    <input type="text" id="pais" th:field="${usuario.endereco.pais}" class="form-control" >
                    <div class="invalid-feedback">País não informado</div>

                </div>
                <div class="col mt-2 buttons">
                    <button type="submit" class="btn btn-primary button-cadastro mx-2 mb-4">
                        <i class="bi bi-cloud-upload p-2"></i>Cadastrar
                    </button>

                    <button type="reset" class="btn btn-primary  button-cancelar mb-4">
                        <i class="bi bi-x-lg text-danger p-2"></i>Cancelar
                    </button>
                </div>
            </div>
        </form>
    </main>
</div>


    <!-- RODAPÉ-->
    <footer class="row linha-rodape">
        <div class="col rodape">
            <p>Todos os direitos reservados - 2022.</p>
        </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/aluno/endereco.js}"></script>
<script type="text/javascript" th:src="@{/js/aluno/validacao-cpf.js}"></script>
<script type="text/javascript" th:src="@{/js/aluno/mascaras.js}"></script>

    </body>
</html>




