<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IElist=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSCAWFIT</title>
    <link rel="stylesheet" th:href="@{/csslist/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="slisttylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/cadastro-usuario.css}">

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
</head>

<body>
<!-- CABEÇALHO-->
<header th:replace="cabecalho:: cabecalho"/>
<!-- MENU-->
<div class="row linha-centro">
    <!-- MENU-->
    <nav class="col-3 border container-menu">
        <nav th:replace="menu:: menu"/>
    </nav>
<!--CONTEÚDO DA PÁGINA-->
    <main class="col-9 border">
        <div class="col mb-5">
            <h1 class="header-titulo m-3">
                <i class="bi bi-person-plus"></i>
                Cadastrar
            </h1>
        </div>

        <!--FORMULÁRIO-->

        <form class="row overflow-auto conteudo mx-2 formulario-usuario" th:object="${usuario}" action="/usuario/save" method="post">

            <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Nome:  </label>
                <input type="text" class="form-control" id="validationCustom01" th:field="${usuario.nome}" required>
            </div>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label" >CPF: </label>
                <input type="text" class="form-control" id="validationCustom02" th:field="${usuario.cpf}" required>
            </div>
            <br/>
            <div class="col-md-4">
                <label for="validationCustom02" class="form-label" >RG: </label>
                <input type="text" class="form-control" id="validationCustom02" th:field="${usuario.rg}" required>
            </div>
            <br/>
            <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">E-mail: </label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend" th:field="${usuario.email}">@</span>
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Por favor, insira um e-mail válido!
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom03" class="form-label" >Telefone: </label>
                <input type="text" class="form-control" id="validationCustom03" th:field="${usuario.telefone}" required>
                <div class="invalid-feedback">
                    Por favor, insira um telefone!
                </div>
            </div>
            <br/>
            <br/>
            <div class="col-md-3">
                <label for="validationCustom04" class="form-label">Tipo de Usuário: </label>
                <select class="form-select" id="validationCustom04" required>
                    <option selected disabled value=false>Escolha uma opção</option>
                    <option th:field="${usuario.tipoUsuario}">Administrador</option>
                    <option th:field="${usuario.tipoUsuario}">Treinador</option>
                    <option th:field="${usuario.tipoUsuario}">Limpeza</option>
                    <option th:field="${usuario.tipoUsuario}">RH</option>

                </select>
                <div class="invalid-feedback">
                    Por favor, selecione um valor válido!
                </div>
            </div>

            <div class="col-md-3">
                <p></p>
                <label for="validationCustom05" class="form-label">Situação: </label>
                <label class="switch">
                    <input type="checkbox" th:field="${usuario.situacao}">
                    <span class="slider round"></span>
                </label>
            <br/>
                </div>
                <div class="col segunda-coluna bord/etc/apt/sources.lister">
                    <label class="picture form-control" for="picture__input" tabindex="0">
                        <input type="file" accept="image/*" id="picture__input">
                        <span>
                                <img class="picture__image"  alt="" th:field="${usuario.imagem}">Selecione uma imagem!

                            </span>
                    </label>
                </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
            <br/>

            <!--ENDEREÇO-->
            <section class="container__endereco">
                <h5 class="titulo-endereco">Endereço</h5>

                <div class="row">
                    <div class="col-md-4">
                        <label for="validationServer03" class="form-label">CEP</label>
                        <input type="text" class="form-control is-invalid" th:field="${usuario.endereco.cep} id="validationServer03" aria-describedby="validationServer03Feedback" required>
                        <div id="validationServer03Feedback" class="invalid-feedback">
                           Por favor, insira um CEP válido!.
                        </div>
                    </div>

                    <div class="col-md-8">
                        <label for="validationServer03" class="form-label">Rua</label>
                        <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" th:field="${usuario.endereco.logradouro}" required>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-2">
                        <label for="validationServer03" class="form-label">Nº</label>
                        <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" th:field="${usuario.endereco.numero}" required>
                    </div>

                    <div class="col-md-5">
                        <label for="validationServer03" class="form-label">Bairro</label>
                        <input type="text" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" th:field="${usuario.endereco.bairro}"  required>
                    </div>

                    <div class="col-md-5">
                        <label for="validationServer04" class="form-label">Cidade</label>
                        <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" th:field="${usuario.endereco.cidade}" required>
                            <option selected disabled value="">Selecione</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="validationServer04" class="form-label">UF</label>
                        <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" th:field="${usuario.endereco.uf}" required>
                            <option selected disabled value="">Selecione...</option>
                            <option>...</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label for="validationServer04" class="form-label">País</label>
                        <select class="form-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" th:field="${usuario.endereco.pais}"  required>
                            <option selected disabled value="">Selecione...</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </section>
        </form>
    </main>
</div>

    <!-- RODAPÉ-->
    <footer class="row linha-rodape">
        <div class="col rodape">
            <p>Todos os direitos reservados - 2022.</p>
        </div>
    </footer>

    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>




