/*CADASTRAR EQUIPAMENTOS HEADER*/

/*botoes*/
.tipoexercicios_cadastrar_buttons{
	display: flex;
	margin-top: 20px;
}

.tipoexercicios_btn-cadastro {
    background: #91B021;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-right: 20px;
    padding: 6px;
}

.tipoexercicios_btn-cancelar {
    background: #BFBFBF;
    color:#062A40 ;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
