.ativo{
    color: #ECF229;     
    background-color: #062A40;
    /* border: 1px solid red; */
}


/*CADASTRAR EQUIPAMENTOS HEADER*/

.equipamentos-cadastro__header {
    /* border: 1px solid red; */
    /* margin: 1rem; */
    display: flex;
    height: 12%;
}

.cadastro-header__titulo {
    margin-left: 4rem;
    padding-right: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}


/*FORM CADASTRAR EQUIPAMENTOS*/


.cadastrar_buttons{
	display: flex;
	margin-top: 20px;
}


.btn-cadastro {
    background: #91B021;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-right: 20px;
    padding: 6px;
}

.btn-cancelar {
    background: #BFBFBF;
    color:#062A40 ;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}



/*RESTANTE CADASTRAR EQUIPAMENTOS*/

.cadastrar{
	border: 3px solid #062A40;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-top: 3rem;
    padding: 50px;
    width: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


.cadastrar input{
    margin-top: 10px;
    width: 500px;
    border-radius: 5px;
}

 .cadastrar textarea{
    margin-top: 10px;
    width: 500px;
    border-radius: 5px;
    border: 2px solid #062A40;
 }

 .cadastrar label{
    margin-top: 10px;
 }

 .imgEquipamento{
     border: 1px solid black;
     float: right;
     width: 50%;
     height: 50%;
     border-radius: 10px;
 }

 /* LISTAR EQUIPAMENTOS */


 .consultar{
    padding: 50px;
    width: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
 }
 
 .consultar h1{
	margin-bottom: 50px;
}

/* BUTTONS HEADER */

.col-right__buttons {
    display: flex;
}

.col-left__input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col-right__buttons {
    display: flex;
}

.equipamentos-btn-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #062A40 ;
    border: none;
}

.equipamentos-btn-novo {
    background:  #91B021;
    color: white;
}

.equipamentos-btn-novo:hover {
    background: #062A40;
    color: #ECF229;
}

.cadastrar_buttons{
	margin-top: 50px;
}










