body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #062A40 !important;
}
h2,hr{
    color: #062A40;
    font-weight: bold;
    alignment: center;
}
p{
    text-align: center;
}
.user_card {
    height: 445px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}
.brand_logo_container {
    display: flex;
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #062A40;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #60a3bc !important;
    color: #062A40 !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #000000 !important;
    color: #bcbebf !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #bcbebf !important;
}

.rodape {
    background: #062A40;
    text-align: center;
    grid-area: rodape;
}

.rodape p {
    padding-top: 0.5rem;
    color: white;
}

.div_imagem{
    width: 370px;
    height: 170px;
    alignment: center;
}
.imagem{
    width: 370px;
    height: 170px;
    object-fit: contain;
}