.container-menu {
    background: #BFBFBF;
}

.container-menu, .row {
    padding: 0 !important;
    margin: 0 !important;
}

.lista {
    width: 100%;
}   

.nav-item {
    text-align: center;
    padding-bottom: 1rem;        
}

.nav-link {
    color: #062A40;    
    font-weight: bold;            
    text-transform: uppercase;    
    justify-content: center;
    
}

.nav-link:hover{
    color: #ECF229;     
    background-color: #062A40;
}


@media screen and (min-width:0){
    .container-menu {
        /* background: green; */
        /* width: 30vw; */
    }
}

@media screen and (min-width:768px){
    .container-menu {
        /* background: #BFBFBF; */
        /* width: 20vw; */
    }
}