.coluna-menu, .row {
    padding: 0 !important;
    margin: 0 !important;
}

.lista {
    width: 100%;
    margin-top: 20px;
}

.nav-item {
    text-align: center;
    padding-bottom: 0.9rem;
}

.nav-link {
    color: #062A40;    
    font-weight: bold;            
    text-transform: uppercase;    
    justify-content: center;
    text-decoration: none;
}

.nav-link:hover{
    color: #ECF229;     
    background-color: #062A40;
}

/*
========================================================================
        NAVBAR SANDWICH
========================================================================
*/
.navbar-sandwich {
    height: 15vh;
    background: #062A40;
}

.navbar-toggler {
    background-color: #F0F473 !important;
}

.offcanvas {
    background: #BFBFBF;
}

.offcanvas-header {
    background: #062A40;
}

/* Responsividade */

@media screen and (min-width:0){
    .navbar-sandwich {
        display: block;
    }

    .navbar-vertical {
        display: none;
    }

    .coluna-menu {
       background: none;
       width: 0;
    }

    .coluna-conteudo {
        width: 100%;
        margin-top: 22%;
    }

    .linha-cabecalho {
        display: none;
    }

    .usuario__imagem {
        margin-left: 4rem;
    }

    .linha-rodape {
        display: none;
    }

    .logotipo {
        height: 7vh;
    }

}

@media screen and (min-width:768px){
   .navbar-sandwich {
        display: none;
   }

   .navbar-vertical {
        display: flex;
   }

   .coluna-menu {
        background: #BFBFBF;
        width: 25%;
   }

   .coluna-conteudo {
        width: 75%;
        margin-top: 0;
   }

   .linha-cabecalho {
    display: flex;
   }

   .linha-rodape {
    display: flex;
   }


    .logotipo {
        margin-top: 1rem;
        height: 11vh;
    }

}

