.app {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "cabecalho cabecalho"
    "menu      conteudo"
    "rodape    rodape";
    grid-template-columns: 20% 80%;
    grid-template-rows: 20vh 74vh auto;
}

}

/*
========================================================================
        CABEÇALHO
========================================================================
*/

.cabecalho {
    background: #062A40 ;
    display: flex;                      /* tranforma em Flex Container */
    justify-content: space-between;     /* item distribuido com espaço no meio */
    align-items: center;
    padding: 2%;
    grid-area: cabecalho;
}

.logotipo {
    height: 12vh;
}

/*
========================================================================
        CONTEÚDO
========================================================================
*/

.conteudo {
    height: 70vh;
}

/*
========================================================================
        RODAPÉ
========================================================================
*/

.rodape {
    background: #062A40;
    text-align: center;
    grid-area: rodape;
}

.rodape p {
    padding-top: 0.5rem;
    color: white;
}

/*
========================================================================
        IMAGEM CENTRO INDEX
========================================================================
*/

.imagemIndexCentro{
	margin-top: 180px;
	justify-content: center;
	align-items: center;
	align-self: center;
	display: flex;
	animation-name: opacidade;
    animation-duration: 4s;
}

.imagemIndexCentro img{
	border-radius: 20px;
}

.textoImagem{
	text-align: center;
	animation-name: texto;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes texto {
    0%   {color: white;}
    100% {color: #062A40; }
}

 @keyframes opacidade{
      0% {opacity: 0%;}
      100% {opacity: 100%;}
  }
 	


