.app {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
    "cabecalho cabecalho"
    "menu      conteudo"
    "rodape    rodape";
    grid-template-columns: 20% 80%;
    grid-template-rows: 20vh 74vh auto;

}

/*
========================================================================
        CABEÇALHO
========================================================================
*/

.cabecalho {
    background: #062A40 ;
    display: flex;                      /* tranforma em Flex Container */
    justify-content: space-between;     /* item distribuido com espaço no meio */
    align-items: center;
    padding: 2%;
    grid-area: cabecalho;
}

.logotipo {
    height: 12vh;
}

/*
========================================================================
        RODAPÉ
========================================================================
*/

.rodape {
    background: #062A40;
    text-align: center;
    grid-area: rodape;
}

.rodape p {
    padding-top: 0.5rem;
    color: white;
}


