html,body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.linha-cabecalho {
    height: 15vh;
    background: #062A40;
}

.linha-centro {
    height: 80vh;
}

.linha-rodape {
    height: auto;
}


/*
========================================================================
        CABEÇALHO
========================================================================
*/

.logotipo {
    height: 15vh;
}

.usuario__imagem {
    height: 11vh;                  /* definir espaço onde as imagens serão exibidas  */
    width: 11vh;                   /* definir espaço onde as imagens serão exibidas */
    background-size: cover;         /* para que as imagens não se repitam */
    background-position: center;    /* para que as imagens ocupem todo o background */
    background-repeat: no-repeat;   /* para que as imagens seham centralizadas na caixa */
    border-radius: 100%;            /* bordas arredondadas */
    margin-top: 1rem;
    margin-left: 3rem;
    background-image: url("../../img/imagem-usuario.jpg");
}

.usuario__nome {
    color: #ECF229;             
    font-weight: bold; 
    margin-top: 2.5rem;
} 

/*
========================================================================
        CONTEÚDO
========================================================================
*/

.conteudo {
    height: 70vh;
}


/*
========================================================================
        RODAPÉ
========================================================================
*/

.rodape {
    background: #062A40;
    text-align: center;
}

.rodape p {
    padding-top: 0.5rem;
    color: white;
}


