.coluna-left__titulo {
    font-weight: bold;
    text-transform: uppercase;
}

.coluna-right__buttons {
    display: flex;
    justify-content: flex-end;
}

.button-cadastro {
    background: #91B021;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.button-cancelar {
    background: #BFBFBF;
    color:#062A40 ;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
} 


