.aluno-cadastro__header {
    /* border: 1px solid red; */
    /* margin: 1rem; */
    display: flex;
    height: 12%;
}

.cadastro-header__titulo {
    margin-left: 4rem;
    padding-right: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.container-buttons {
    display: flex;
    justify-content: flex-end;
}

.box-b {
    padding-right: 0.5rem;
}


.button-cadastro {
    background: #91B021;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-right: 20px;
}

.button-cancelar {
    background: #BFBFBF;
    color:#062A40 ;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}


