.aluno-cadastro__form {
    border: 3px solid #062A40;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-top: 3rem;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    /* scrollbar-width: thin; */
    height: 80%;
}

.aluno-cadastro__form::-webkit-scrollbar {
  width: 20px;
}

.aluno-cadastro__form::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.aluno-cadastro__form::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #062A40;
}


.imagem {
    display: flex;
    justify-content: center;
}


.container-imagem {
    width: 50%;
    height: 30%;
    background-color: #062A40;
}


.cadastro-form__foto {
    height: 20vh;                  
    width: 25vh;                  
    background-image: url("../../img/imagem-aluno.jpg");
}

.form-endereco__titulo {
    font-weight: bold;
    margin-top: 3rem;
}