.col-left__input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col-right__buttons {
    display: flex;
}

/* Coluna esquerda */

.form__label {
    text-transform: uppercase;
    font-weight: bold;
    color: #062A40 ;
    padding-right: 1rem;
    margin-top: 0.5rem;
}

/* Coluna direita */

.container-buttons {
    display: flex;
    justify-content: flex-start;
}

.box-button {
    padding-right: 0.5rem;
}

.btn-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #062A40 ;
    border: none;
}

.button-pesquisar {
    background: #BFBFBF;
}

.button-pesquisar:hover {
    background: #062A40;
    color: #ECF229;
}


.button-novo {
    background: #91B021;
    color: white;
}

.button-novo:hover {
    background: #062A40;
    color: #ECF229;
}


/* Tabela de Alunos */


.aluno-consulta__lista {
    background: #f8f9fa;
    margin: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    padding: 1rem;
}

.table {
    color:#062A40;
}







