<header class=" row linha-cabecalho" th:fragment="cabecalho">
    <div class="col-9">
        <img th:src="@{/img/imagem-logo.PNG}" alt="logo" class=" img-fluid logotipo">
    </div>
    <div class="col-3">
        <div class="row">
            <div class="col-5 coluna-imagem">
                <img th:src="@{/img/imagem-usuario.jpg}" class="img-fluid usuario__imagem" alt="...">
            </div>
            <div class="col-7 coluna-texto">
                <p class="usuario__nome">Usuário</p>
            </div>
        </div>
    </div>
</header>