<!DOCTYPE html>
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSCAWFIT</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/equipamentos/equipamentos.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/consulta-header.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/consulta-lista.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/cadastro-header.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/cadastro-form.css}">
</head>