<!DOCTYPE html>
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SYSCAWFIT</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/menu/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/menu/nav-link.css}">
    <link rel="stylesheet" th:href="@{/css/menu/nav-item.css}">
    <link rel="stylesheet" th:href="@{/css/menu/menu.css}">
    <link rel="stylesheet" th:href="@{/css/menu/lista.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario__imagem.css}">
    <link rel="stylesheet" th:href="@{/css/usuario/usuario__nome.css}">
    <link rel="stylesheet" th:href="@{/css/aluno/principal.css}">
    <link rel="stylesheet" th:href="@{/css/equipamentos/equipamentos.css}">
    <!-- CSS only -->

</head>
<body>
$END$
</body>
</html>