<nav class="navbar navbar-vertical" th:fragment="menu">
    <!-- Itens do Menu -->

    <ul class="navbar-nav lista">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/aluno/list}">Aluno</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/treino/new}">Treino</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/tipoexercicio/list}">Tipo de Exercícios</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/equipamentos/list}">Equipamentos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/aulas/list}">Aula</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/planos}">Planos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/relatorios/filtro}">Relatórios</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/usuario/new}">Usuários</a>
        </li>
        <!--        configurar-->
<!--<li class="nav-item"></li>-->
        <br/>
        <div class="nav-item end-100">
            <form class="form my-2 my-lg-0 " form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
                        type="submit">Logout
                </button>
            </form>
        </div>
    </ul>
</nav>


<nav class="navbar fixed-top navbar-sandwich border" th:fragment="menu">
    <div class="row container-fluid">
        <div class="col-6">
            <!--Menu sandwich-->
            <button class="navbar-toggler d-flex justify-content-start" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>

            <!--vertical-->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <img th:src="@{/img/imagem-logo.PNG}" alt="logo" class=" img-fluid logotipo">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!--Itens do Menu-->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/aluno/list}">Aluno</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"th:href="@{/treino/new}">Treino</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/tipoexercicio/list}">Tipos de Exericios</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/equipamentos/list}">Equipamentos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/aulas/list}">Aula</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/planos}">Planos</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/relatorios/filtro}">Relatórios</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/usuario/new}">Usuários</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-4 coluna-imagem">
            <img th:src="@{/img/imagem-usuario.jpg}" class="img-fluid usuario__imagem" alt="...">
        </div>

        <div class="col-2 coluna-texto">
            <p class="usuario__nome">Usuário</p>
        </div>

    </div>
</nav>
