<!DOCTYPE html>
<!-- A vertical navbar -->
<nav class="navbar" th:fragment="menu">

    <!-- Itens do Menu -->
   
    <ul class="navbar-nav lista" >

        <li class="nav-item">
            <a class="nav-link" th:href="@{/aluno/list}">Aluno</a>
        </li>

        <li class="nav-item">
            <a class="nav-link"th:href="@{/treino/new}">Treino</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/tipoexercicio/list}">Tipos de Exericios</a>
        </li>

         <li class="nav-item">
            <a class="nav-link" th:href="@{/equipamentos/list}">Equipamentos</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" th:href="@{/aulas/list}">Aula</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/planos}">Planos</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" th:href="@{/relatorios/filtro}">Relatórios</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" th:href="@{/usuario/new}">Usuários</a>
        </li>

    </ul>
</nav>