<!DOCTYPE html>
<!-- A vertical navbar -->
<nav class="navbar" th:fragment="menu">

    <!-- Itens do Menu -->
   
    <ul class="navbar-nav lista" >

        <li class="nav-item">
            <a class="nav-link" th:href="@{/aluno/list}">Aluno</a>
        </li>

        <li class="nav-item">
            <a class="nav-link"th:href="@{/treino/list}">Treino</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" th:href="@{/tipoexercicio/list}">Tipo de Exercícios</a>
        </li>
        
         <li class="nav-item">
            <a class="nav-link" th:href="@{/equipamentos/list}">Equipamentos</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="#">Aula</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Planos</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Relatórios</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" th:href="@{/usuario/list}">Usuários</a>
        </li>

    </ul>
</nav>