<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SYSCAWFIT - Cadastrar Equipamentos</title>
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/menu.css}">
	<link rel="stylesheet" th:href="@{/css/equipamentos.css}">
</head>

<body>
	<!-- CABEÇALHO-->
	<header th:replace="cabecalho:: cabecalho" />

	<div class="row linha-centro">
		<!-- MENU-->
		<nav class="col-3 border coluna-menu">
			<nav th:replace="menu:: menu" />
		</nav>

		<!--CONTEÚDO DA PÁGINA-->
		<main class="col-9 coluna-conteudo">

			<header class="equipamentos-cadastro__header row">

				<div class="col col-left__input p-3">
					<h1 class="cadastro-header__titulo col m-4">
						<i class="bi bi-plus-circle"></i>
						Cadastrar Equipamentos
					</h1>
				</div>


				<div class="col-auto col-right__buttons p-3">
					<div class="col-auto">
						<a th:href="@{/equipamentos/list}">
							<button type="button" class="btn equipamentos-btn-link button-consultar">
								<i class="bi bi-list p-2"></i>Listar Equipamentos
							</button>
						</a>
					</div>
				</div>

			</header>

			<section>
				<form class="cadastrar" enctype="multipart/form-data" th:object="${equipamentos}"
					action="/equipamentos/save" method="POST">

					<input type="hidden" th:field="${equipamentos.id}" />

					<div class="row">
						<div class="col-7">
							<label for="inputNome">Nome: *</label>
							<br />
							<input id="inputNome" type="text" th:field="*{nome}" th:errorclass="inputError"
								placeHolder="Digite no mínimo 2 caracteres e maximo de 255." class="form-control" autocomplete="off"
								required />
						</div>
					</div>
					<br />
					
					<div class="row">
						<div class="col-7">
							<label for="descricao">Descrição: *</label>
							<br />
							<textarea id="textareaDescricao" type="text" th:field="*{descricao}"
								placeHolder="Máximo de 2000 caracteres." class="form-control" th:errorclass="inputError"
								autocomplete="off" required />
						</div>
					</div>



					<div class="row">
						<div class="col">
							<label for="file">Selecione uma imagem: *</label>
							<br />

							<div class="form-group col-md-12">
								<input id="file" type="file" name="file" required />
							</div>
						</div>
					</div>



					<!--botões-->
					<div class="row">
						<div class="col">
							<div class="cadastrar_buttons">
								<div>
									<p th:switch="${equipamentos.id>0}">
										<button type="submit" th:case="${true}" class="btn btn-primary btn-cadastro"
											th:text="Atualizar"><i class="bi bi-plus-circle"></button>
										<button type="submit" th:case="*" class="btn btn-primary btn-cadastro"
											th:text="Cadastrar"><i class="bi bi-plus-circle"></button>
									</p>
								</div>

								<div>
									<a class="btn btn-primary button-cancelar" th:href="@{/equipamentos/new}" role="button">
											<i class="bi bi-x-lg text-danger p-2"></i>Cancelar
										</a>
								</div>
							</div>
						</div>
					</div>
					<!--fim cadastrar_buttons-->
				</form>
			</section>
		</main>
	</div>
	<!--fim div row linha_centro-->


	<!-- RODAPÉ-->
	<footer class="row linha-rodape">
		<div class="col rodape">
			<p>Todos os direitos reservados - 2022.</p>
		</div>
	</footer>

	<!-- JavaScript Bundle with Popper -->

	<!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></--!script-->

	</script-->
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/equipamentos.js}"></script>

</body>

</html>