<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head:: head" />

    <body class="app">
        <!-- CABEÇALHO-->
        <header th:replace="cabecalho:: cabecalho"/>

        <!-- MENU-->
        <nav th:replace="menu:: menu"/>

        <!--CONTEÚDO DA PÁGINA-->
        <main class="conteudo">

            <article class="consulta-aluno">

                <form class="form">
                    <div class="mb-3 box">
                        <label for="exampleInputEmail1" class="form-label form__label">Aluno</label>
                        <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp" class="form-control form__input" placeholder="Digite o CPF">

                        <a href="#" class="form__link-button">
                            <button type="submit" class="btn form__button-pesquisar">Pesquisar</button>
                        </a>

                        <a href="#" class="form__link-button">
                            <button type="submit" class="btn form__button-novo">Novo Aluno</button>
                        </a>
                    </div>
                  </form>
            </article>
            

            <i class="bi bi-search"></i>

            
        </main>

        <!-- RODAPÉ-->
        <footer class="rodape">
            <p>Todos os direitos reservados - 2022.</p>
        </footer>

        <!-- JavaScript Bundle with Popper -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
