.formulario-usuario {
    border: 3px solid #062A40;
    border-radius: 0.3rem;
    height: 60vh;
}

.formulario-usuario, .row {
    padding: 0 !important;
    margin: 0 !important;
}

.formulario-usuario::-webkit-scrollbar {
    width: 15px;
}

.formulario-aluno::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 0.3rem;
}

.formulario-usuario::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #062A40;
}

.primeira-coluna, .row {
    padding: 0 !important;
    margin: 0 !important;
}

/* ====== Imagem ===============================================================*/

.coluna-imagem {
    display: flex;
    justify-content: center;
}

.picture {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 16/9;
    width: 200px;
    background: #ccc;
    color: #aaa;
    border: 2px dashed #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

#picture__input {
    display: none;
}

.picture__image {
    max-width: 100%;
}

/* ====== Buttons ===============================================================*/

.buttons {
    text-align: right;
}

.button-cadastro {
    background: #91B021;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-top: 2.5rem;
    color: white;
}

.button-cadastro:hover {
    background: #062A40;
    color: #ECF229;
}

.button-cancelar {
    background: #BFBFBF;
    color:#062A40 ;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-top: 2.5rem;
}

.button-cancelar:hover {
    background: #062A40;
    color: white
}








