.usuario__imagem {
    height: 11vh;                  /* definir espaço onde as imagens serão exibidas  */
    width: 11vh;                   /* definir espaço onde as imagens serão exibidas */
    background-size: cover;         /* para que as imagens não se repitam */
    background-position: center;    /* para que as imagens ocupem todo o background */
    background-repeat: no-repeat;   /* para que as imagens seham centralizadas na caixa */
    border-radius: 100%;            /* bordas arredondadas */
    margin: 0 auto;
    background-image: url("../../img/imagem-usuario.jpg");
    /* margin-bottom: 10px; */
}